body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8e4e4;
}

.colorNavBar {
  background-color: red;
}

.btnNavBar {
  background-color: blue;
  color: white;
}

.containerResult {
  background-color: white !important;
  min-height: 80vh;
}
